

.habilidades {
  display: flex;   
  flex-wrap: wrap; 
  justify-content: center;
  gap: 12px;    
}  

.lista {
  margin: 0;               
  padding: 10px;
  min-width: 65px;
  text-align: center;
  background-color:  rgba(206, 205, 199, 0.433);
  border: 2px solid #ddd5b8;
  border-radius: 20px;
}